            <div id="content">
                <form onsubmit="registerSendData(); return false;">
                    <h2>Register</h2>
                    <p>Please select the type of user you wish to register as:</p>
                    <select id="roleSelect" onchange="registerRolesSelect()">
                        <option value="migrant" >Migrant</option>
                        <option value="volunteer" >Volunteer</option>
                        <option value="contractor">Contractor</option>
                    </select>
                    <p> Enter your contact details below:</p>
                    <table>
                        <tr>
                            <td>Login Name</td>
                            <td><input type="text" id="loginInput" value="" required/></td>
                        </tr>
                        <tr>
                            <td>First Name</td>
                            <td><input type="text" id="firstNameInput" value="" required/></td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td><input type="text" id="lastNameInput" value="" required/></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td><input type="text" id="addressInput" value="" required/></td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td><input type="text" id="phoneInput" value="" /></td>
                        </tr>
                        <tr>
                            <td>Email Address</td>
                            <td><input type="text" id="emailInput" value="" required/></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="password" id="passwordInput" value="" required/></td>
                        </tr>
                        <tr>
                            <td>Confirm Password</td>
                            <td><input type="password" id="passwordConfirmInput" value="" required/></td>
                        </tr>
                    </table>

                    <div id="contractorDetails" style="display: none;">
                        <br/>
                        <p>Contractor Details:</p>
                        Types of Service: <input type="text" name="svctypes" value="" /></br>

                        <p>Usual charge system:</p>
                        <input id="hourlyRateRadio" type="radio" name="paytype" onclick="chargeSystemChange()" checked/>Charge by the hour<br/>
                        <div id="hourlyRate" >
                            Hourly rate&nbsp;<input type="text" value="" /></br>
                        </div>
                        <input type="radio" name="paytype" onclick="chargeSystemChange()" />Quote/ Contract</br>
                    </div>
                    </br>

                    <input type="submit" value="submit" />

                    </br>
                </form>
            </div>

            <div id="login">
                <fieldset>
                    <legend>Log in</legend>
                    <table>
                        <tr>
                            <td>Username:</td>
                            <td><input type="text" id="loginName" /></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input type="password" id="loginPass" /></td>
                        </tr>
                        <tr>
                            <td>Role:</td>
                            <td>
                                <select id="loginRoleSelect" style="width:100%" >
                                    <option value="migrant" >Migrant</option>
                                    <option value="volunteer" >Volunteer</option>
                                    <option value="contractor">Contractor</option>
                                    <option value="administrator">Administrator</option>
                                </select>
                            </td>
                        </tr>
                    </table>

                    <br/>

                    <center>
                        <button type="button" id="logInButton" onclick="logIn()" >Log In</button><br/>
                        <a href="register.html">Register</a>
                    </center>
                </fieldset>
            </div>
            
            <div id="logout">
                <fieldset>
                    <legend>Log out</legend>
                    <button type="button" id="logOutButton" onclick="logOut()" >Log Out</button>
                    <br/>
                </fieldset>
            </div>
