body {
	background: #FFFFFFF;
	font-family: Arial, verdana, sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
	background-image: url("/images/backgrounds/main_page_2.jpg");
	background-repeat: repeat;
	background-position:center center;
	background-attachment:fixed;
	}
ul {
	list-style-type: none;
}

label {
	visibility:visible;
}

#container {
	background: #FFFFFF;
	width:960px;
	margin-right:auto;
	margin-left:auto;
	text-align:left;
	}
#menu {
	text-align: center;
	float:left;
	width:150px;
	margin-right:0px;
	}
#content {
	float:left;
	width:560px;
	padding-bottom:10px;
	}
#loginPortlet {
	float:right;
	width:220px;
	font-size:12px;
	text-align:center;
	margin-right:18px;
	}
#logoutPortlet {
	float:right;
	width:220px;
	font-size:12px;
	text-align:center;
	}
#sidebar {
	float:right;
	width:220px;
	font-size:12px;
	text-align:center;
	}
#footer {
	text-align: center;
	clear: both;
	padding-top:10px;
	padding-bottom: 10px;
	}
#navigation_bar {
	height:70px;
	text-align: center;
	}
#footerlinks {
	border-top:1px solid #000000;
	text-align: center;
	clear: both;
	padding-top: 10px;
	}
#consoleimage {
	text-align: center;
	}
h1 {
	text-align:center;
	color: #000000;
	}
h2   {
	text-align: center;
	color: #000000;
	}
legend {
	color: #000000;
	font-size: 12px;
	}