@charset "utf-8";
/* CSS Document */

#conversation {
	display:block;
	width:500px;
	margin-left:auto;
	margin-right:auto;
}

#response {
	display:block;
	width:500px;
	margin-left:auto;
	margin-right:auto;	
}

#submit_button {
	position:relative;
	text-align:center;
}

fieldset.mine {
    background: silver;
    margin-right: 100px; 
}

fieldset.theirs {
    background: limegreen;
    margin-left: 100px;
}

#messageHistory {
	height:400px;
	width:auto;
	overflow:auto;
}