<div id="guest_menu" style="display: none;">
    <form id="Site_Nav_Bar" style="width: 70px" class="middle">
        <fieldset>
            <legend>Site Pages</legend>
            <center>					
                <a href="about_us.html"><img src="/images/menu/about.jpg" width=60 height=50 border="2"   /></a>
                <p>About Us</p>
            </center>
        </fieldset>
    </form>
</div>
