<div id="migrant_menu" style="display: none;">
    <form id="Site_Nav_Bar" style="width: 70px" class="middle">
        <fieldset>
            <legend>Site Pages</legend>
            <center>
                <a href="personal_details.html"><img src="/images/menu/profile.jpg" width=60 height=50 border=2 /></a>
                <p>Your Details</p>
                <a href="request.html"><img src="/images/menu/request.jpg" width=60 height=50 border=2 /></a>
                <p>Request Contractor</p>
                <a href="job_list.html"><img src="/images/menu/search.jpg" width=60 height=50 border="2"   /></a>
                <p>Job List</p>
                <a href="message.html"><img src="/images/menu/message.jpg" width=60 height=50 border="2" /></a>
                <p>Instant Messaging</p>               				
                <a href="about_us.html"><img src="/images/menu/about.jpg" width=60 height=50 border="2"   /></a>
                <p>About Us</p>
            </center>
        </fieldset>
    </form>
</div>
