<form id="loginPortlet" onsubmit="logIn(); return false;">
    <fieldset>
        <legend>Log in</legend>
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" id="loginName" required/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" id="loginPass" required/></td>
            </tr>
            <tr>
                <td>Role:</td>
                <td>
                    <select id="loginRoleSelect" style="width:100%" >
                        <option value="migrant" >Migrant</option>
                        <option value="volunteer" >Volunteer</option>
                        <option value="contractor">Contractor</option>
                        <option value="administrator">Administrator</option>
                    </select>
                </td>
            </tr>
        </table>

        <br/>

        <center>
            <button type="submit" id="logInButton" >Log In</button><br/>
            <a href="register.html">Register</a>
        </center>
    </fieldset>
</form>