<div id="logoutPortlet">
    <fieldset>
        <legend>Log out</legend>
        Logged as: <div id="loggedAs" ></div>
        <button type="button" id="logOutButton" onclick="logOut()" >Log Out</button>
        <br/>
    </fieldset>
</div>