<div id="navigation">
    <form id="navigation_bar">
        <fieldset>
            <legend>Navigation Bar</legend>
            <center>
                <a href ="index.html"><img src="/images/navigation/home.gif" width="40" height="40" border="0" /></a>
                <a href="mailto:migranthelpdesk@hotmail.com"><img src="/images/navigation/mail.gif" width=40 height=40 border=0 /></a>
                <a href="about_us.html"><img src="/images/navigation/about.gif" width=40 height=40 border=0 /></a>
            </center>
        </fieldset>
    </form>
</div>